#interesting-fact {
    font-style: italic;
}

.label-name {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.animal-card {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #d7ec17;
    border-radius: 25px;
    width: 320px;
    height: 695px;
    padding: 0 10px;
    margin: auto;
    background-color: #2b282c;
    box-shadow: 5px 5px 5px grey;
    line-height: 1.2;
    font-size: 90%
}

.animal-info {
    border: 1px solid #ffffff48;
    border-radius: 25px;
    width: 280px;
    padding: 0 10px;
    margin: 10px;
    background-color: #2b282c;
    color: rgb(229, 230, 250);
}

.image {
    border-radius: 15px 50px;
    border: 1px solid #2b282c;
    padding: 0 10px;
    margin: 0px;
    width: 300px;
    height: 200px;
}

.animal-name {
    color: rgb(229, 230, 250);
    padding: 0;
    margin: 10px;
    padding-top: 10px;
}